*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 130px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  background-color: #450db2;
  color: white;
  background-image: url("../images/pentagonRound1.svg"),url("../images/pentagonRound2.svg"),url("../images/pentagonRound2.svg"),url("../images/bgFooter.svg"); background-repeat: no-repeat; 
  background-size: 280px,150px, 150px, 100%;
  background-position: top -100px right -80px,bottom 900px left -100px,top 900px right -80px, bottom left;
  transition: none;
}
.logo-container{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 85px;
}
.logo-image {
  width: 100%;
  vertical-align: middle;
}
.logo-image-animacion {
  display: block;
  position: relative;
  top: -96px;
  left: -4px;
  width: 113%;
  height: 113%;
}
.bienvenida {
  width: 90%;
  margin-bottom: 30px;
  text-align: justify;
  text-align-last: center;
}
.bienvenida__intro {
  margin-bottom: 30px;
  font-size: 1.9rem;
}
.bienvenida strong {
  color: rgb(255, 204, 1);
}
.bienvenida__portfolio-react {
  color: rgb(255, 157, 175);
  transition: color .75s ease;
  text-underline-offset: 3px;
}
.bienvenida__portfolio-react.light-dark-mode {
  color: rgb(252, 95, 124);
}
.bienvenida .descripcion_blog {
  margin-top: 60px;
  font-size: 2rem;
}
.blog {
  margin-top: 25px;
  font-size: 2rem;
  text-decoration: none;
}
.blog .blog__link {
  width: 100px;
  color: rgb(0, 255, 0);
  text-decoration: none;
}
.bienvenida img {
  display: none;
  position: relative;
}
#switch_button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}
#switch_button {
  position: relative;
  left: 0px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 15px;
  background-color: #450db2;
  transition: .25s;
}
.toolbox {
  width: 100%;
  margin: 50px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h3, h4 {
  margin-bottom: 30px;
  text-shadow: 0 0 5px;
}
/* h4 {

} */
.toolbox__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 400px;
  height: 300px;
  padding: 10px;
  margin: 0 20px;
  /* border: 1px dotted #ffffff80; */
  font-size: 1rem;
}

.toolbox__fade {
  animation: fading linear 2s 1 ;
}
@keyframes fading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
    transform: rotateY(180deg)
  }
  100% {
    opacity: 100%;
    transform: rotateY(360deg)
  }
}

.recent-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
.projects-container-grid {
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-items: center;
}
.project {
  margin: 20px 0;
}
.project a {
    display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.project_name {
  margin: 15px 0;
  font-size: 1.4rem;
  color: white;
  transition: .5s linear;
}
.project img {
  width: 70%;
  border-radius: 15px;
  vertical-align: middle;
  box-shadow: 0px 10px 5px -5px #b8a5f2;
  transition:  top .2s linear, box-shadow .2s linear;
}
.project img:hover {
  position: relative;
  top: -5px;
  box-shadow: 0px 15px 15px -2px #b8a5f2;
}
.p1 img:hover {
  box-shadow: 0px 20px 10px -10px #b8a5f2;
}
.p2 img,.p3 img {
  box-shadow: 0px 5px 5px 1px #b8a5f2;
}
.p4 img {
  box-shadow: -13px 16px 7px -12px #b8a5f2;
}
.p4 img:hover {
  box-shadow: -13px 20px 15px -5px #b8a5f2;
}
.projects-container-grid .p5 {
  /* width: 265px; */
  /* height: 50px; */
}
.p5 img, .p5 img:hover {
  box-shadow: none;
}
.older-projects-list {
  width: 100%;
  /* margin-top: 100px; */
  margin-bottom: 20px;
  text-align: center;
}
.older-projects-list p {
  margin: 30px;
  margin-bottom: 45px;
  font-size: 2.8rem;
  text-shadow: 0 0 5px;
}
.older-projects-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.older-projects-list ul li {
  width: 300px;
  padding: 15px;
  display: inherit;
  justify-content: center;
  /* margin: 0 auto; */
}
.older-projects {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.older-projects img {
  vertical-align: middle;
}
.older-projects:hover {
  font-size: 2.2rem;
}
.older-projects img:hover {
  width: 100px;
}
.older-projects.huddle img:hover {
  width: 145px;
}
footer {
  width: 100%;
  padding: 50px 20px 50px;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
footer .contact {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
footer .contact img {
  margin: 15px;
  transition: .25s ease-in-out;
}
footer .contact img:hover {
  transition: linear .15s;
  transform: scale(1.4)
}
footer .contact a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p a {
  display: inline-block;
  margin: 8px;
  text-decoration: none;
  color:rgb(255, 204, 1);
}

/* Ligth-dark-mode styles */
#body.light-dark-mode {
  color: #450db2;
  background-image: url("../images/pentagonRound1.svg"),url("../images/pentagonRound2.svg"),url("../images/pentagonRound2.svg"),url("../images/bgFooter.svg"),url("../images/mobileBG2.svg"); background-repeat: no-repeat; 
  background-size: 280px,150px, 150px, 100%, 240%;
  background-position: top -100px right -80px,bottom 900px left -100px,top 900px right -80px, bottom left, top 40vh right -95vw;
  background-color: white;
  transition: background-color .75s linear;
}
.older-projects.light-dark-mode {
  color: #450db2;
}
#switch_button_container.light-dark-mode {
  background-color: #450db2;
}
#switch_button.light-dark-mode {
  left: 40px;
  background-color: white;
}
.logo-image.light-dark-mode {
  filter: brightness(0) saturate(100%) invert(17%) sepia(34%) saturate(4665%) hue-rotate(249deg) brightness(107%) contrast(132%);
}
.project_name.light-dark-mode {
  color: #450db2;
  transition: .75s linear;
}
.logo-image-animacion.light-dark-mode {
  display: none;
}
.older-projects-images.light-dark-mode {
  filter: brightness(0) saturate(100%) invert(21%) sepia(99%) saturate(6209%) hue-rotate(261deg) brightness(67%) contrast(114%);
}

@media screen and (max-width: 310px) {
  .logo-image-animacion {
    display: none;
  }
}
@media screen and (min-width: 375px) {
  /* .p5 {
    left: -40px;
  } */
}
@media screen and (min-width: 500px) {
  body {
    background-size: 280px,30%, 30%, 100%;
  }
  .project_name {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 740px) {
  .logo-image-animacion {
    display:none
  }
  body {
    transition: background-color .5s linear;
  }
}

@media screen and (min-width: 800px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    /* height: calc(100vh - 130px); */
    background-image: url("../images/desktopBG1.svg"), url("../images/desktopBG2.svg");
    background-size: 100%;
    background-position: top left, bottom left;
    transition: .75s ease;
  }
  #body.light-dark-mode {
    background-color: white;
    color: #450db2;
    background-image: none;
    background-image: url("../images/desktopBG1.svg"), url("../images/desktopBG2.svg");
    background-size: 100%;
    background-position: top left, bottom left;
    transition: .75s ease-in-out;
  }
  .bienvenida {
    width: 95%;
  }
  .bienvenida p {
    margin-bottom: 80px;
  }
  .toolbox__icons {
    margin: 20px;
    grid-gap: 25px;
  }
  .toolbox__icon {
    width: 60px;
    height: 60px;
  }
  .recent-projects {
    /* max-width: 720px; */
  }
  .projects-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 0;
  }
  .project {
    position: static;
    width: 90%;
  }
  .project img {
    position: static;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  /* .p5 {
   position: relative;
   left: 180px; 
  } */
  footer {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px){
  body {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    /* min-height: 100%; */
  }
  /* .header, .bienvenida {
    position: static;
  } */
  .bienvenida {
    width: 80%;
  }
  .bienvenida img {
    display: block;
    position: initial;
    margin: 0 auto;
    /* position: absolute;
    top: -220px;
    left: calc(50% - 75px); */
    width: 150px;
    height: 150px;
  }
  .bienvenida .descripcion_blog {
    width: 100%;
  }
  .recent-projects {
    /* position: relative; */
    min-width: 550px;
    margin-right: 25px;
  }
  .logo-container {
    display: none;
    position: absolute;
    top: 37%;
    left: calc(50% - 42.5px);
  }
  #switch_button_container {
    /* position: absolute; */
/*       
      top: -80px;
      left: 5%; */
      margin: 0;
  }
  .older-projects-list {
    /* position: absolute; */
    /* top: 550px; */
    /* left: 0; */
    /* width: 100%; */
    /* margin-top: 250px; */
  }
  .older-projects-list ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 5%;
  }
  .older-projects-list ul li {
    padding: 0px;
    display: inherit;
    align-items: center;
  }
  .older-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 90px;
  }
  .older-projects img {
    margin: 20px;
  }
  .older-projects.text {
    width: 350px;
  } 
  footer {
    /* position: absolute;
    top: 1150px; */
    padding: 0px 0px 50px;
  }
}
/* 
@media screen and (min-width: 1285px){
  .bienvenida .descripcion_blog {
    top: 150px;
   }
  .older-projects-list {
    width: 1500px;
    margin-left: calc( 50vw - 750px);
  }
}

@media screen and (min-width: 1440px){
  .bienvenida {
    min-width: 633px;
    margin: 43.2px;
  }
  .bienvenida p, .descripcion_blog {
    font-size: 2.4rem;
  }
  .bienvenida img {
    position: absolute;
  }
  #switch_button_container {
    left: calc( 50vw - 665px );
   }
  .p2 .project_name {
    top: 10px;
  }
  .p4 .project_name {
    top: 20px;
  }
  .older-projects-list {
    margin-top: 350px;
  }
  footer {
    position: absolute;
    top: 1230px;
  }
} */
