* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 320px;
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  background-color: #450db2;
  color: white;
  background-image: url('../images/pentagonRound1.svg'),
    url('../images/pentagonRound2.svg'), url('../images/pentagonRound2.svg'),
    url('../images/bgFooter.svg');
  background-repeat: no-repeat;
  background-size: 280px, 150px, 150px, 100%;
  background-position: top -100px right -80px, bottom 900px left -100px,
    top 900px right -80px, bottom left;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
}
.switch_button_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80px;
  height: 40px;
  margin: 30px 15px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}
.switch_button {
  position: relative;
  left: 0px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 15px;
  background-color: #450db2;
  transition: 0.25s linear;
}
.logo__bg {
  display: inline-block;
  width: 150px;
  height: 150px;
  background: url('https://i.postimg.cc/R0ZtsZxq/Z7x9Riw.gif') center/cover
    no-repeat;
}
.welcome {
  width: 95%;
  margin: 0 auto;
  text-align: justify;
  text-align-last: center;
}
.welcome__intro {
  font-size: 1.9rem;
}
.welcome strong {
  color: #ffcc01;
}
.welcome__portfolio-react {
  color: #98d3ff;
  text-underline-offset: 3px;
  font-size: 2.5rem;
}
.welcome__portfolio-react.light-dark-mode {
  color: #32a6ff;
}
.welcome .descripcion_blog {
  margin-top: 60px;
  font-size: 2rem;
}
.welcome__logobithug {
  display: none;
  margin: 10px 25px;
  border-radius: 50%;
  cursor: pointer;
}
.blog {
  margin: 25px 0 80px;
  font-size: 2rem;
  text-decoration: none;
}
.blog__link {
  width: 100px;
  color: rgb(64, 223, 112);
  text-underline-offset: 3px;
}
.certificate__id {
  font-size: 8px;
  font-weight: 400;
}
.toolbox {
  width: 100%;
  margin: 50px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolbox__title {
  line-height: 3.5rem;
}
h3 {
  text-align: center;
  margin: 50px 0 30px;
  text-shadow: 0 0 7px;
}
.toolbox h3 {
  color: rgb(255, 252, 205);
  text-shadow: 0 0 12px rgb(255, 249, 166);
}
.title-projects--certificates {
  color: rgb(255, 194, 156);
  text-shadow: 0 0 12px rgb(255, 171, 118);
}
.title-projects--team-projects {
  color: rgb(255, 187, 187);
  text-shadow: 0 0 12px rgb(255, 118, 118);
}
.title-projects--fullstack-react-projects {
  color: rgb(130, 209, 136);
  text-shadow: 0 0 12px rgb(81, 255, 92);
}
.title-projects--react-adv-projects {
  color: rgb(192, 156, 238);
  text-shadow: 0 0 12px rgb(122, 89, 255);
}
.title-projects--react-projects {
  color: rgb(205, 226, 255);
  text-shadow: 0 0 12px rgb(106, 168, 255);
}
.title-projects--vanilla-projects {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 12px rgb(255, 255, 255);
}
.title-projects--older-projects {
  color: rgb(202, 202, 202);
  text-shadow: 0 0 3px;
}
.toolbox__icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 400px;
  height: 300px;
  padding: 10px;
  margin: 0 20px;
  font-size: 1rem;
}
.toolbox__icon--scrum {
  filter: brightness(0) saturate(100%);
}
.toolbox__fade {
  animation: fading linear 1.5s 1;
}
@keyframes fading {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 100%;
    transform: rotateY(360deg);
  }
}
.certificates {
  margin-bottom: 70px;
}
.certificates__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificates__icons-item {
  margin: 0 20px;
}
.certificates__icons-item--keys {
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
.projects-container-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 250px;
}
.project a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-align: center;
}
.project_image-container {
  overflow: hidden;
  width: 250px;
  height: 150px;
  border-radius: 15px;
  transition: box-shadow 0.75s;
}
.project_image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform, opacity 0.25s;
  opacity: 0.7;
}
.project_image:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  opacity: 1;
}
.project .project__github {
  position: absolute;
  bottom: 77px;
  left: 25px;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.25s ease;
}
.project .project__github:hover {
  opacity: 1;
  transform: scale(1.07);
  bottom: 79px;
  left: 27px;
}
.project.team .project__github {
  bottom: 89px;
}
.project.team .project__github:hover {
  bottom: 91px;
}
.project .project__github.show {
  opacity: 0.6;
}
.project__github-image {
  border-bottom-left-radius: 15px;
}
.project_name {
  margin: 15px 0;
  font-size: 1.6rem;
  color: white;
  text-align: center;
}
.p-none img {
  box-shadow: none;
}

.older-projects-container {
  text-align: center;
  font-weight: bold;
}
.older-projects-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.older-projects-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 10px 0;
}
.older-projects-container a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.older-projects img {
  vertical-align: middle;
}
.older-projects:first-child:hover {
  transform: scale(1.2);
}
.footer {
  width: 100%;
  padding: 70px 20px 50px;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.footer .contact {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.footer .contact img {
  margin: 15px;
  transition: 0.25s ease-in-out;
}
.footer .contact img:hover {
  transform: scale(1.4);
}
.footer .contact a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer strong {
  color: rgb(255, 204, 1);
}
/* Starts Ligth-dark-mode styles */
#body.light-dark-mode {
  color: #450db2;
  background-image: url('../images/pentagonRound1.svg'),
    url('../images/pentagonRound2.svg'), url('../images/pentagonRound2.svg'),
    url('../images/bgFooter.svg'), url('../images/mobileBG2.svg');
  background-repeat: no-repeat;
  background-size: 280px, 150px, 150px, 100%, 240%;
  background-position: top -100px right -80px, bottom 900px left -100px,
    top 900px right -80px, bottom left, top 40vh right -95vw;
  background-color: white;
}
.logo__bg.light-dark-mode {
  border-radius: 50%;
  background-image: url('../images/gonzaPic.png');
}
.older-projects.light-dark-mode {
  color: #450db2;
}
.switch_button_container.light-dark-mode {
  background-color: #450db2;
}
.switch_button.light-dark-mode {
  left: 40px;
  background-color: white;
}
.project_name.light-dark-mode {
  color: #450db2;
}
.older-projects-images.light-dark-mode {
  filter: brightness(0) saturate(100%) invert(21%) sepia(99%) saturate(6209%)
    hue-rotate(261deg) brightness(67%) contrast(114%);
}
.toolbox h3.light-dark-mode {
  color: rgb(255, 242, 59);
  text-shadow: 0 0 12px rgb(156, 156, 148);
}
.subtitle-projects {
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
}
.title-projects--team-projects.light-dark-mode {
  color: rgb(255, 147, 147);
  text-shadow: 0 0 12px rgb(255, 183, 183);
}
.title-projects--react-projects.light-dark-mode {
  color: rgb(130, 182, 255);
  text-shadow: 0 0 12px rgb(156, 197, 255);
}
.title-projects--vanilla-projects.light-dark-mode {
  color: rgb(115, 200, 169);
  text-shadow: 0 0 12px rgb(103, 201, 165);
}
.title-projects--older-projects.light-dark-mode {
  color: rgb(131, 131, 131);
}
.blog__link.light-dark-mode {
  color: rgb(0, 146, 61);
}
/* Ends Ligth-dark-mode styles */

@media screen and (max-width: 388px) {
  .header {
    margin-top: 80px;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-size: 280px, 30%, 30%, 100%;
  }
  .header {
    flex-direction: row-reverse;
    justify-content: center;
    margin: 120px 0px 40px 125px;
  }
  .project_name {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 800px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    background-image: url('../images/desktopBG1.svg'),
      url('../images/desktopBG2.svg');
    background-size: 100%;
    background-position: top left, bottom left;
  }
  #body.light-dark-mode {
    background-color: white;
    color: #450db2;
    background-image: none;
    background-image: url('../images/desktopBG1.svg'),
      url('../images/desktopBG2.svg');
    background-size: 100%;
    background-position: top left, bottom left;
  }
  .header {
    margin-bottom: 45px;
  }
  .switch_button_container {
    margin-bottom: 25px;
  }
  .logo__bg {
    margin-right: 10px;
    margin-top: 5px;
    background-image: url('../images/gonzaPic.png');
    border-radius: 50%;
  }
  .toolbox__icons {
    margin: 20px;
    grid-gap: 25px;
  }
  .toolbox__icon {
    width: 60px;
    height: 60px;
  }
  .toolbox__icon--materializecss,
  .toolbox__icon--scrum {
    width: 70px;
    height: 70px;
  }
  .older-projects-container ul {
    justify-content: space-around;
  }
  .footer {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1800px;
    min-height: 100vh;
  }
  .header {
    width: 100%;
    margin: 0;
    margin-right: 5px;
    justify-content: flex-end;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .body__top {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  .toolbox {
    margin: 0;
    margin-left: 10%;
  }
  .toolbox h3 {
    margin-top: 0;
  }
  .toolbox__icons {
    margin-bottom: 0;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120%;
    height: 365px;
  }
  .welcome__logobithug {
    display: block;
  }
  .welcome .descripcion_blog {
    width: 100%;
  }
  .blog {
    margin: 0;
  }
  .projects-container-grid,
  .older-projects-container {
    width: 100%;
    max-width: 1150px;
  }
  .older-projects-container ul {
    max-width: 1200px;
  }
}
