/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
Orden de las propiedades de los selectores:
1. Posicionamiento: static, relative, absolute, display, etc
2. Modelo caja: content(width,height,min/max) , padding, border, margin
3. Tipografía: font-family, font-size, font-weight, line-height etc.
4. Visuales: color, background,  border-radius, box-shadows, gradient, etc.
5. Otros: reglas CSS (calc()), etc. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: 'PT Serif', serif;
  font-weight: 400; */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2rem;
}
.construction {
  /* Descomentar cuando esté lista la web */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -500px;
  text-align: center;
  background-color: rgba(0, 0, 0,0.7);
  z-index: 2;
}
.construction p {
  margin-top: calc(50vh - 170px);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 6rem;
}
.construction strong {
  font-size: 3rem;
}
.capacidad_barra {
  width:300px;
  height: 18px;
  background-color: hsl(229, 57%, 11%); 
  margin: 15px calc(50vw - 150px);
  margin-top: 30px;
  border: 3px solid hsl(229, 57%, 11%);
  border-radius: 7.5px;
}
.capacidad_barra_full {
  width:40%;
  height: 12px;
  background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 7.5px;
  display: flex;align-items: center;
  justify-content: flex-end;
}
code {
  padding: 1px 4px;
  background-color: #9bc8ec;
  border-radius: 4px;
  font-family: 'Courier Prime', monospace;

}
h1 {
  padding: 30px 40px 20px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3.5rem;

}
/* Revisar como pasa el topicsInfo por debajo del h1 bg una vez que reviva imgur */
.header {
  background: url("https://i.postimg.cc/vHFwdkHC/header-Blog.png") center/cover no-repeat;

}
.blog-title__description {
  padding: 30px;
  padding-top: 10px;
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 300;
}
h2 {
  font-weight: 200;
  display: flex;
  justify-content: center;
}
h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 3rem;
  padding: 28px 0;
  width: 100%;
}
h4 {
  font-size: 2.5rem;
  font-family: 'Oxygen', sans-serif;
  padding: 18px 0;
  width: 100%;
}
h3 li {
  margin-left: 22px;
}
.topics-container {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: justify;
  padding: 80px 20px;

}
/* .topics-subtitle li {
  margin-left: 20px;
} */


/* :not(.topics-container) > li::marker {
  Este padding se aplica a los ol que no tienen como padre a .topics-container
  padding-left: 25px;
} */

/* Esta linea hace que la información enumerada debajo del h3 tenga una sangría más */
.topics-info ol ol li{
  margin-left: 30px;
}


.topics-container .topics-title, .topics-container .topics-title-ready {
text-decoration: none;
position: relative;
z-index: 1;
display: inline;
font-size: 2rem;
text-align: center;
}
#topics-container-JS {
  background:  #fff8b6 url("https://i.postimg.cc/mrr0wG81/js-logo.png") left top/90px no-repeat;
}
#topics-container-HTML {
  background: #ffc8b0 url("https://i.postimg.cc/2SGsh5Ff/html-logo.png") left top/90px no-repeat;
}
#topics-container-CSS {
  background: #A8D0F0 url("https://i.postimg.cc/9fNsgNn8/css-logo.png") left top/90px no-repeat;
}
.topics-container li {
  /* Al darle la siguiente línea puedo hacer crecer con hover y no mover el resto de elementos */
  line-height: 2.8rem;

}
.topics-container .numeracion-orden-principal {
  /* Para borrar los números de la lista ordenada: */
  list-style: none;
}
.topics-title:hover {
  font-size: 2.3rem;
}
#topics-container-JS a{
  color: #a79600;
}
#topics-container-HTML a{
  color: #a33100;
}
#topics-container-CSS a{
  color: #00559b;
}
.coming-soon {
  color: red;
  font-size: 1.1rem;
  padding-top: 7px;
  line-height: 1.6rem;
}
.new {
  color: blue;
  font-size: 1.2rem;
  padding-top: 7px;
  line-height: 1.6rem;
}

.topics-info {
  position: absolute;
  /* El top determina desde donde va a aparecer el topicsInfo */
  top: -100vh;
  padding: 50px 10px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255,.3);
  z-index: -3;
}
.topics-info .enlaces-externos {
  text-decoration: none;
}
.topics-info .enlaces-externos:hover {
  font-size: 1.8rem;
}
.topics-info.showHide {
  transition: .4s;
  top: 0px;
  z-index: 0;
  position: relative;
}
.infografia-estructuras {
  width: 80%;
  margin: 30px 10%;
  margin-bottom: 10px;
}
figcaption {
  text-align: center;
  font-weight: 500;
}
/* .topics-info.showHide p ol + li {
  padding: 50px;
} */
.quiz {
  padding: 30px;
  text-align: center;
  background-color: #C3DEB7;
}
.quiz a {
  text-decoration: none;
  color: #288000;
  display: block;
}
footer {
  padding: 25px;
  text-align: center;
  color: #34009c;
  background-color: #c0b7d4;
}

footer .contact {
  display: flex;
  justify-content: center;
}
footer .contact img {
  margin: 12px;
}

@media screen and (min-width: 600px) {
  body {

    font-size: 2.2rem;
  }
  h1 {
    padding: 50px 100px 30px 70px;
    font-size: 4rem;
    background: url("https://i.imgur.com/TANm3FX.png") top -60px left/cover no-repeat;
  }  
  .blog-title__description {
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 2.1rem;

  }
  h2 {
    font-size: 2.2rem;
    padding: 5px 0;
  }
  .topics-container {
    padding: 100px 70px;
  }
  .topics-container a:hover {
    font-size: 2.5rem;
  }
  .coming-soon {
    position: absolute;
    top: 7px;
    right: -110px;
  }
  .new {
    position: absolute;
    top: 7px;
    right: -60px;
  }
  /* .coming-soon:hover {
    font-size: 1.1rem;
    right: -50px;
  } */
  .quiz {
    padding: 100px;
  }
  footer {
    padding: 75px;
  }
  footer .contact img {
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }
  h1 {
    font-size: 6.5rem;
  }  
  h2 {
    font-size: 2.2rem;
  }
  .construction p {
    margin-top: calc(50vh - 170px);
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 8rem;
  }
  .construction strong {
    font-size: 6rem;
  }
  .topics-container {
    padding: 100px 100px;
  }
  .topics-container .topics-title, .topics-container .topics-title-ready {
    padding: 7px;
  }
  .topics-container a:hover {
    font-size: 2.5rem;
  }
  #topics-container-JS {
    background-size: 10%;
  }
  #topics-container-HTML {
    background-size: 10%;
  }
  #topics-container-CSS {
    background-size: 10%;
  }
  .quiz {
    padding: 100px;
  }
  footer {
    padding: 75px;
  }
  footer .contact img {
    margin: 20px;
  }
}

@media screen and (min-width: 1500px) {
  #topics-container-JS {
    background-size: 150px;
  }
  #topics-container-HTML {
    background-size: 150px;
  }
  #topics-container-CSS {
    background-size: 150px;
  }
}