/* 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

Orden de las propiedades de los selectores:
1. Posicionamiento: static, relative, absolute, display, etc
2. Modelo caja: content(width,height,min/max) , padding, border, margin
3. Tipografía: font-family, font-size, font-weight, line-height etc.
4. Visuales: color, background,  border-radius, box-shadows, gradient, etc.
5. Otros: reglas CSS (calc()), etc. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  /* font-family: 'PT Serif', serif;
  font-weight: 400; */
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2rem;
}
.construction {
  /* Descomentar cuando esté lista la web */
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0,0.7);
  z-index: 2;
}
.construction p {
  margin-top: calc(50vh - 170px);
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 6rem;
}
.construction strong {
  font-size: 3rem;
}
.capacidad_barra {
  width:300px;
  height: 18px;
  background-color: hsl(229, 57%, 11%); 
  margin: 15px calc(50vw - 150px);
  margin-top: 30px;
  border: 3px solid hsl(229, 57%, 11%);
  border-radius: 7.5px;
}
.capacidad_barra_full {
  width:35%;
  height: 12px;
  background-image: linear-gradient(to right,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border-radius: 7.5px;
  display: flex;align-items: center;
  justify-content: flex-end;
}

h1 {
  padding: 30px 40px 20px 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  background: url("https://i.imgur.com/TANm3FX.png") center/cover no-repeat;
/* Revisar como pasa el topicsInfo por debajo del h1 bg una vez que reviva imgur */
}
h2 {
  font-size: 2rem;
}
.topicsTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 80px 40px;
}
.topicsTitle a {
text-decoration: none;
position: relative;
z-index: 1;
}
#topicsTitleJS {
  background:  #fff8b6 url("https://i.imgur.com/ZhxrYXc.png") left top/90px no-repeat;
}
#topicsTitleHTML {
  background: #ffc8b0 url("https://i.imgur.com/G7lMafd.png") left top/90px no-repeat;;
}
#topicsTitleCSS {
  background: #A8D0F0 url("https://i.imgur.com/TD6QrB3.png") left top/90px no-repeat;
}
.topicsTitle li {
  /* Al darle la siguiente línea puedo hacer crecer con hover y no mover el resto de elementos */
  line-height: 2.8rem;
}
.topicsTitle ol {
  /* Para borrar los números de la lista ordenada: */
  list-style: none;
}
.topicsTitle a {
  display: inline-block;
  margin: 15px;
}
.topicsTitle a:hover {
  font-size: 2.2rem;
}
#topicsTitleJS a{
  color: #a79600;
}
#topicsTitleHTML a{
  color: #a33100;
}
#topicsTitleCSS a{
  color: #00559b;
}

.topicsInfo {
  position: absolute;
  /* El top determina desde donde va a aparecer el topicsInfo */
  top: -1005px;
  padding: 50px 0;
  font-family: 'PT Serif', serif;
  background-color: rgba(255, 255, 255,.3);
  /* transition: .25s; */
  z-index: -3;
  
}
.topicsInfo.showHide {
  /* display: block; */
  transition: .4s;
  top: 0px;
  z-index: 0;
  position: relative;
  /* color: white; */
}

.quiz {
  padding: 30px;
  text-align: center;
  color: #288000;
  background-color: #C3DEB7;

}
footer {
  padding: 25px;
  text-align: center;
  color: #34009c;
  background-color: #c0b7d4;
}

footer .contact {
  display: flex;
  justify-content: center;
}
footer .contact img {
  margin: 12px;
}

@media screen and (min-width: 600px) {
  body {

    font-size: 2.2rem;
  }
  h1 {
    padding: 50px 100px 30px 70px;
    font-size: 4rem;
    background: url("https://i.imgur.com/TANm3FX.png") top -60px left/cover no-repeat;
  }  
  h2 {
    font-size: 2.2rem;
  }
  .topicsTitle {
    padding: 150px 70px;
  }
  .topicsTitle a:hover {
    font-size: 2.5rem;
  }
  .quiz {
    padding: 100px;
  }
  footer {
    padding: 75px;
  }
  footer .contact img {
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.2rem;
  }
  h1 {
    font-size: 6.5rem;
  }  
  h2 {
    font-size: 2.2rem;
  }
  .construction p {
    margin-top: calc(50vh - 170px);
    color: white;
    font-size: 3rem;
    font-weight: 700;
    line-height: 8rem;
  }
  .construction strong {
    font-size: 6rem;
  }
  .topicsTitle {
    padding: 150px 200px;
  }
  .topicsTitle a:hover {
    font-size: 2.5rem;
  }
  #topicsTitleJS {
    background-size: 10%;
  }
  #topicsTitleHTML {
    background-size: 10%;
  }
  #topicsTitleCSS {
    background-size: 10%;
  }
  .quiz {
    padding: 100px;
  }
  footer {
    padding: 75px;
  }
  footer .contact img {
    margin: 20px;
  }
}

@media screen and (min-width: 1500px) {
  #topicsTitleJS {
    background-size: 150px;
  }
  #topicsTitleHTML {
    background-size: 150px;
  }
  #topicsTitleCSS {
    background-size: 150px;
  }
}